<h1 class="header"><%= @blog.title %></h1>
<p class="header"><%= @blog.date %></p>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<p><%= @blog.content %></p>
	</div>
</div>
<div class="home-link">
	<%= link_to 'Back to Blogs', blogs_path %>
</div>